<!-- Portfolio Grid Section -->
<section id="portfolio" class="bg-light-gray">
	
	<div class="container">
		<div class="row">
      	
      	<div class="col-md-4 col-md-6 col-md-10" id="move-content">
      	
				<h2 id="u131-2"> What Does It Give You? </h2>
            <p class="text-muted4"> HarvestAPI gives you on-demand access to the information that powers the agriculture industry.
            </p>
            
        	</div>
    	</div>
      
      <div class="row">
      	
      	<div class="row text-center">
	        	<div class="col-md-4">
					<img src="./img/services/icon-tracktor.png" alt="">
               <h4 id="u140-4"> Agriculture Production Data </h4>     
          	</div>
                
            <div class="col-md-4">
            	<img src="./img/services/icon-price.png" alt="">
               <h4 id="u140-4"> Weekly Price Data </h4>
          	</div>
                
            <div class="col-md-4">
            	<img src="./img/services/icon-farmer.png" alt="">
               <h4 id="u140-4"> Producer Information </h4>
            </div>
			</div>
        
 		</div>
	</div>
    </section>