<!-- Team Section -->
<section id="team" class="bg-blue">
	<div class="container">
   	
   	<div class="row">
			
			<div class="col-md-4">
           	<img src="./img/platform/contribute.png" alt="">               
         </div>
         
         <div class="col-md-6">
         	<h2 id="u185-2"> Want to contribute? </h2>
         	
         	<h3 id="doc1"> 
         		HarvestAPI is an open source project. 
         		We’re still in beta and always looking for feedback and contributions. 
         		Here are ways you can contribute?
         	</h3>
         	
         	<ul class="list-user1">
         		<li> Fork the code </li>
         		<li> Post issues, bugs or feature requests </li>
 					<li> Get in touch! </li>
         	</ul>
         	<br/>
         	<h3 id="doc1"> 
         		Want more information or help bringing HarvestAPI to your agriculture agency?
         	</h3>
         	
         </div>    
			
      </div>
	</div>
</section>